.BmiTable{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%,-50%);
    -ms-transform: translate(-30%,-50%);
    transform: translate(-30%,-50%);
    width: 250px;
    height: 250px;
    background: white;
    z-index: 998;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 13px;
    color: #4c4c4c;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    animation: openmodal;
    animation-duration: 0.75s;
}
.BmiTable li{
    list-style: none;
}
@keyframes openmodal{
    from{opacity: 0;}
    to{opacity: 1;}
}

