.DisplayMeal{
    width: 170px;
    height: 170px;
    box-shadow: 0px 1px 3px #808080;
    margin: 5px;
    padding: 10px;
    border-radius:3px;
    animation-name: zoomIn;
    animation-duration: 0.8s;
}
.DisplayMeal p{
    padding-bottom: 5px;
    margin: 0;
    font-size: 13px;
    color: #4c4c4c;
} 
.DisplayMeal button{
    border: none;
    margin-left: auto;
    background: #808080;
    outline: none;
    color: white;
    box-shadow: 0px 2px 5px grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DisplayMeal span{
    font-size: 12px;
    color: #4c4c4c;
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }

