.NutritionDetailsInfo{
    line-height: 1.5;
    width: 50%;
    margin: 0px auto 15px;
    color: rgb(76, 76, 76);
    text-align: justify;
    text-align-last: center;
    font-size: 12px;
}
.Chart{
    height: 350px;
    width: 350px;
    margin: 0 auto;
}
@media only screen and (max-width: 468px) {
    .Chart{
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px) {
    .NutritionDetailsInfo{
        width: 100%;
    }
}
