.Excercise{
    box-shadow: 0px 1px 3px #808080;
    margin: 5px;
    border-radius: 3px;
    transition: all 1s ease;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ExerciseContainer_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ExerciseContainer_2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.ExerciseContainer_3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Excercise p {
    margin: 0;
    width: 75%;
    line-height: 1.2;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    color: #4c4c4c;
}
.ExcerciseDone p{
    margin: 0;
    width: 75%;
    line-height: 1.2;
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    color: #4c4c4c;
}
.Excercise button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 25px;
    border: none;
    outline: none;
    width: 160px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #808080;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.Excercise img{
    width: 70px;
    height: 70px;
    background: #4caf50;
    border-radius: 3px;
    margin: 5px;
}
.ExcerciseDone img{
    width: 70px;
    height: 70px;
    background: #4caf50;
    border-radius: 3px;
    margin: 5px;
}
.ExcerciseDone{
    box-shadow: 0px 1px 3px #808080;
    margin: 5px;
    border-radius: 3px;
    transition: all 1s ease;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ExcerciseDone button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 25px;
    border: none;
    outline: none;
    width: 160px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #4caf50;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Movie{
    position: fixed;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-30%,-50%);
    -ms-transform: translate(-30%,-50%);
    transform: translate(-30%,-50%);
    width: 500px;
    height: 500px;
    background: white;
    z-index: 998;
    border-radius: 3px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    color: #4c4c4c;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 526px) {
    .Excercise{
        height: 600px;
    }
    .ExcerciseDone{
        height: 600px;
    }
}

@media only screen and (max-width: 430px) {
    .Excercise{
        height: 900px;
    }
    .ExcerciseDone{
        height: 900px;
    }
}

