.Excercise{
    box-shadow: 0px 1px 3px #808080;
    width: 250px;
    height: 48vh;
    margin: 5px;
    border-radius: 3px;
    transition: all 1s ease;
}
.Excercise h5{
    text-align: center;
    color: #4c4c4c;
}
.Excercise li{
    list-style: none;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #4c4c4c;
}
.Excercise button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 25px;
    border: none;
    outline: none;
    width: 160px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #808080;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.ExcerciseDone{
    width: 250px;
    height: 48vh;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #808080;
}

.ExcerciseDone h5{
    color: #4caf50;
    text-align: center;
}
.ExcerciseDone button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 25px;
    border: none;
    outline: none;
    width: 160px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #4caf50;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.ExcerciseDone li{
    list-style: none;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #4c4c4c;
}
.Movie{
    position: fixed;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-30%,-50%);
    -ms-transform: translate(-30%,-50%);
    transform: translate(-30%,-50%);
    width: 500px;
    height: 500px;
    background: white;
    z-index: 998;
    border-radius: 3px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    color: #4c4c4c;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}


