.Box{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
}
@media only screen and (max-width: 615px) {
    .Box{
        height: 35px;
    }
}

@media only screen and (max-width: 486px) {
    .Box{
        height: 200px;
    }
}

@media only screen and (max-width: 375px) {
    .Box{
        height: 225px;
    }
}